@font-face {
    font-family: 'Ninja-Naruto';
    src:url('Ninja-Naruto.ttf.woff') format('woff'),
        url('Ninja-Naruto.ttf.svg#Ninja-Naruto') format('svg'),
        url('Ninja-Naruto.ttf.eot'),
        url('Ninja-Naruto.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
