.nav-header {
    height: 165px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'ninja', 'sans-serif';
    font-size: 38px;
    background: #ffffff;
    letter-spacing: 10px;
}

#center-content {
    margin-top: 35px;
}

#center-login {
    margin-top: 55px;
}

#ninja-logo {
    height: 150px;
    width: 150px;
}

.menu-rad-reader {
    margin-left: 20px;
}

.menu-login {
    margin-right: 20px;
}

.book-title h1 {
    color: #26ADBD;
    font-size: 5em;
    font-family: 'courier', sans-serif;
    text-align: center;
    padding: 5vh;
}



/* NOTE: above styles the navigation that shows on every page */


/*HOME VIEW*/

.hero-img-wrapper {
  text-align: center;
}

.hero-img-wrapper>#hero-book {
  position: relative;
    width: 100%;
    height: 635px;
}

#hero-typing-style{
  z-index: 50;
  position: absolute;
  font-family: 'courier', sans-serif;
  font-size: 5.5em;
  color: #fff;
  bottom: 370px;
  right: 450px;

}

#home-typing-text {
  position: absolute;
  z-index: 50;
  font-family: 'courier', sans-serif;
  font-size: 8em;
  color: #fff;
  bottom: 250px;
  right: 100px;
}

#hero-book {
  z-index: -1;
}

.fa-angle-down {
  color: #fff;
  font-size: 10em;
  position: absolute;
  z-index: 1;
  margin-top: -150px;
  width: 100px;
}


.center-book-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* FIXME: I want a hover effect over the images */

.book-style {
    height: 400px;
    width: 400px;
    margin: 20px 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.book-style:hover {
  transform: scale(1.1);

 }

.book-recommendation-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px auto;

}

/* NOTE: font-awesome book icon */
.fa-book {
  font-size: 4em;
  padding-top: 5px;
}

 .recommendation-style {
   width: 70%;
   border-radius: 5px;
   text-align: center;
   font-size: 30px;
   margin-left: 20px;
 }

#recommendation-submit {
  font-family: 'courier', sans-serif;
  font-size: 2em;
  margin-left: 10px;
  margin: 15px 0px 0px 10px;
  border: solid gray 3px;
  border-radius: 3px;

}

#second-book-title {
  color: #FD9337;
}

#third-book-title {
  font-size: 3em;
  color: #88D32A;
}

.main-becoming-ninja-wrapper {
  text-align: center;
}

.fa-long-arrow-right {
  font-size: 7em;
  color: #FC4B32;

  margin-top: -40px;
}


/* FIXME: A LOT of styling and functionality to be done */

.footer-wrapper {
    background: #d8d8d8;
    height: 300px;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#become-a-ninja {
    font-family: 'courier', sans-serif;
    font-size: 38px;
    margin-left: 92px;
    margin-top: 25px;
}

input {
    outline: none;
    border: none;
    background: #d8d8d8;
    height: 10vh;
    font-size: 4em;
    color: #000;
    font-family: 'courier', sans-serif;
    margin-left: 90px;
}

#email-input {
    width: 90%;
}

/* HACK: This is how I edit the placeholder */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: ##d9d9d9;
    font-family: 'courier', 'sans-serif';
    /*font-size: 4em;*/
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #;
    font-family: 'courier', 'sans-serif';
    /*font-size: 4em;*/
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #;
    font-family: 'courier', 'sans-serif';
    /*font-size: 4em;*/
}

:-moz-placeholder {
    /* Firefox 18- */
    color: ##d9d9d9;
    font-family: 'courier', 'sans-serif';
    /*font-size: 4em;*/
}

#follow-insta-ninja {
    font-family: 'ninja', sans-serif;
    font-size: 1.5em;
    margin-bottom: -45px;
    margin-left: 45px;
    letter-spacing: 3px;
}

#different-font {
    font-family: 'courier';
    font-size: 1em;
    margin-left: 45px;
}

.fa-instagram {
    font-size: 1.7em;
    color: #7E4A43;
}


/* FIXME: make this image click into a 'email questions' */

#footer-ninja-logo {
    position: fixed;
    height: 75px;
    width: 75px;
    float: right;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
}

.main-book-input-wrapper {
  width: 70%;
  height: 80px;
  line-height: 80px;
  background: #d8d8d8;
  font-family: 'courier', sans-serif;
  font-size: 2.5em;
  color: #FD9337;
  border: solid #d8d8d8 2px;
  border-radius: 5px;
  /*padding: 15px;*/
  margin-top: 20px;
  text-align: center;
  margin: 20px 200px;
}

/*styling becoming a ninja page (Rad Ninja)*/
#typing-text {
  font-family: 'courier', sans-serif;
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
  color: #FC4B32;
}

.step-one {
  height: 100vh;
  background: #FD9337;
  opacity: .65;
}

.step-two {
  height: 100vh;
  background: #FC4B32;
  opacity: .65;
}

.step-three {
  height: 100vh;
  background:  #88D32A;
  opacity: .65;
  margin-bottom: -40px;
}



/*color: #FD9337;
color: #88D32A;
color: #FC4B32;*/
